html
    head
        title= "Bug Tracker REST API"
    body
        h1= "Bug Tracker REST API"
        br
        p
    | <b>Supported Methods:</b> GET, POST, PUT, DELETE <br><br>
    | <b>====== Routes ======</b> <br>
    | <b>1)</b> /api/bugs [GET, POST] <br>
    | <b>2)</b> /api/bugs/:id [GET, PUT, DELETE]